<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719761927765-u9k0rbkb1e7ronm9sttolfmcoqk9jrv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719761927765-u9k0rbkb1e7ronm9sttolfmcoqk9jrv0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>719761927765-v6uvpkkvgjoeaj0isnrppta7nnbs6uuf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ5IDgaz_wQuCAUCCAoqfxp7Zs77VBi30</string>
	<key>GCM_SENDER_ID</key>
	<string>719761927765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frisky.icebreaker</string>
	<key>PROJECT_ID</key>
	<string>frisky-app</string>
	<key>STORAGE_BUCKET</key>
	<string>frisky-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719761927765:ios:194b18616ff954fa516edc</string>
	<key>DATABASE_URL</key>
	<string>https://frisky-app.firebaseio.com</string>
</dict>
</plist>